# Core LangChain packages
langchain==0.1.20
langchain-community==0.0.14
langchain-text-splitters
langchain-huggingface
langchain-mongodb
langchain-groq

# Vector database
pymongo

# Embeddings
sentence-transformers

# Document parsing
unstructured
unstructured[pdf]

# NLP utilities
nltk

# Web framework
fastapi
uvicorn
pydantic

# Environment management
python-dotenv
