@import "tailwindcss";

body {
  @apply bg-gray-900 text-gray-100;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thumb-gray-700::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 10px;
}
